.halls_list_buttons {
    height: 72px;
    display: flex;
    flex-direction: row;
}

.halls_list_button {
    width: 81px;
    height: 42px;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none;
    border-radius: 3px;
    background: rgba(255, 255, 255, 1);
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0;
    text-transform: uppercase;
    box-shadow: 0 3px 3px 0 #0000003d;
    font-family: var(--main-font), sans-serif
}

.halls_list_button--active {
    width: 90px;
    height: 46px;
    font-size: 15px;
    box-shadow: 0 6px 8px 0 #0000003d;
    line-height: 16px;
    margin: -2px 1px -2px 1px;
}